<!------------------------- ERROR ACCESS NOTIF ------------------------->
<div *ngIf="CurrentArchive === null">
  <p class="notification is-danger">Unable to load the archive</p>
</div>
<!--======================= ERROR ACCESS NOTIF =======================-->

<div class="arcard" *ngIf="CurrentArchive !== null">
  <!------------------------- ARCHIVE DETAIL PART ------------------------->
  <article class="box media has-background-dark">
    <!-- insert vtuber channel thumbnail here or the Tranlator's DP 
    <figure class="media-left">
      <p class="image is-128x128">
        <img src="https://bulma.io/images/placeholders/256x256.png">
      </p>
    </figure>
    -->
    <div class="media-content">
      <div class="content">
        <p class="has-text-weight-bold has-text-white">Title: {{ CurrentArchive.Nick }} <br>
          Author: <span style="margin-left: 10px;" class="tag taglinks is-clickable"
            (click)="RoomNameClick(CurrentArchive.Room)">
            {{ CurrentArchive.Room }} </span><br>
          Link: <a style="color: white;" href="{{ CurrentArchive.StreamLink }}" target="_blank">{{ CurrentArchive.StreamLink }}</a><br>
          Tags: {{ CurrentArchive.Tags }}</p>
        <span class="icon-text has-text-white" *ngIf="CurrentArchive.Pass">
          <span class="icon">
            <fa-icon [icon]="faLock"></fa-icon>
          </span>
          <span>Protected</span>
        </span>
        <span class="icon-text has-text-white" *ngIf="!CurrentArchive.Pass">
          <span class="icon">
            <fa-icon [icon]="faUnlock"></fa-icon>
          </span>
          <span>UnProtected</span>
        </span>
        <span> | </span>
        <span class="rating is-clickable has-text-white" (click)="RatingBtnClick()">
          Rate {{ CurrentArchive.Star }} {{ RatingBtn }}
        </span>
        <br>

        <div class="divider is-white"></div>
        <div class="columns is-mobile is-centered">
          <div class="dropdown is-hoverable">
            <div class="dropdown-trigger">
              <a class="button is-small is-outlined is-rounded is-light" aria-haspopup="true" aria-controls="dropdown-menu">
                Open in client
              </a>
            </div>
            <div class="dropdown-menu" id="dropdown-menu" role="menu">
              <div class="dropdown-content">
                <a [href]="sanitize(CurrentArchive.Link)" class="dropdown-item">
                  Desktop Client
                </a>
                <a class="dropdown-item" [routerLink]="['/proxyapp']" [queryParams]="{archive: CurrentArchive.Link}">
                  Web Client
                </a>
              </div>
            </div>
          </div>
  
          <div *ngIf="this.Downloadable" class="dropdown is-hoverable">
            <a class="button is-small is-outlined is-rounded is-light" (click)="DownloadBtnClick()">
              Download
            </a>
          </div>
        </div>

        <p class="has-text-danger">{{ this.status }}</p>
      </div>
    </div>
  </article>

  <article *ngIf="(CurrentArchive.Note !== undefined) && (CurrentArchive.Note !== '')"
    class="box media has-background-dark">
    <div class="media-content">
      <div class="content">
        <p class="has-text-weight-bold has-text-white">Note : <br>
          {{ CurrentArchive.Note }}
        </p>
      </div>
    </div>
  </article>
  <!--======================= ARCHIVE DETAIL PART =======================-->
  <!------------------------- COMMENT FORM ------------------------->
  <article class="box media">
    <!-- commenters dp when posting 
    <figure class="media-left">
      <p class="image is-64x64">
        <img src="https://bulma.io/images/placeholders/128x128.png"> 
      </p>
    </figure>
    -->
    <div class="media-content">
      <div class="field">
        <p class="control">
          <textarea class="textarea" placeholder="Add a comment..." maxlength="255" [(ngModel)]="newcomment"></textarea>
        </p>
      </div>
      <div class="field">
        <p class="control">
          <button class="button" (click)="AddComment()" #loadstate1>Post comment</button>
          <span class="ml-2">{{ newcomment.length }}/255 </span>
        </p>
      </div>
      <!------------------------- COMMENT LIST ------------------------->
      <div *ngFor="let Comment of CommentsList; let i = index">
        <article class="media">
          <!-- commenter's dp when in comment list 
          <figure class="media-left">
            <p class="image is-48x48">
              <img src="https://bulma.io/images/placeholders/96x96.png"> 
            </p>
          </figure>
          -->
          <div class="media-content">
            <div class="content">
              <p>
                <strong>{{ Comment.Nick }}</strong>
                <br>
                {{ Comment.Content }}
                <br><br>
                <small>
                  <span *ngIf="Comment.Nick == Nick">
                    <a class="links" (click)="OpenEditModal(i)">
                      <fa-icon [icon]="faEdit"></fa-icon>Edit
                    </a> · <a class="links" (click)="OpenDeleteModal(i)">
                      <fa-icon [icon]="faTrash"></fa-icon>Delete
                    </a> ·
                  </span>
                  <!--  REPLY BUTTON
                  <a class="links">
                    <fa-icon [icon]="faReply"></fa-icon>Reply
                  </a> · -->
                  <span *ngIf="Comment.TStamp !== undefined">commented on
                    {{ Comment.TStamp*1000 | date : 'yyyy-MM-dd HH:mm' }}</span>
                </small>
              </p>
            </div>
            <!-- repliers list 
            <article class="media">
              <figure class="media-left">
                <p class="image is-48x48">
                  <img src="https://bulma.io/images/placeholders/96x96.png"> 
                </p>
              </figure>
              <div class="media-content">
                <div class="content">
                  Reply media template
                </div>
              </div>
            </article>
            -->
          </div>
        </article>
      </div>
      <!--======================= COMMENT LIST =======================-->
    </div>
  </article>
  <!--======================= COMMENT FORM =======================-->
</div>

<!------------------------------------------- LOGIN MODAL ------------------------------------------->
<div class="modal" [ngClass]="{ 'is-active' : isLoginModalActive }">
  <div class="modal-background"></div>
  <div class="modal-content">
    <div class="box">
      <a style="float: right;" class="delete is-dark" (click)="CloseLoginModal()"></a>
      <p class="title">Login</p>
      <div class="divider is-left is-black"></div>

      <div class="field has-text-left">
        <label class="label">Username</label>
        <div class="control has-icons-left">
          <input class="input is-rounded" type="text" placeholder="Username" [(ngModel)]="Nick">
          <span class="icon is-left is-small">
            <fa-icon [icon]="faUser"></fa-icon>
          </span>
        </div>
      </div>

      <div class="field has-text-left">
        <label class="label">Password</label>
        <div class="control has-icons-left">
          <input class="input is-rounded" type="password" placeholder="Password" [(ngModel)]="Pass">
          <span class="icon is-left is-small">
            <fa-icon [icon]="faLock"></fa-icon>
          </span>
        </div>
      </div>

      <div class="field is-grouped p-4">
        <div class="control">
          <button class="button is-dark" (click)="Login()" #loadstate3>Enter</button>
        </div>
        <div class="control">
          <p class="has-text-weight-bold"><a id=sign_up routerLink="/signup">Sign
              up</a></p>
        </div>
        <div class="control">
          <p *ngIf="modalstatus !== ''" class="has-text-danger">{{ modalstatus }}</p>
        </div>
      </div>
    </div>

  </div>
</div>
<!--========================================= LOGIN MODAL =========================================-->


<!------------------------------------------- EDIT MODAL ------------------------------------------->
<div class="modal" [ngClass]="{ 'is-active' : isEditModalActive }">
  <div class="modal-background" (click)="CloseEditModal()"></div>
  <div class="modal-content">
    <div class="box">
      <a style="float: right;" class="delete is-dark" (click)="CloseEditModal()"></a>
      <p class="title is-size-4">Edit Comment</p>
      <div class="divider is-left is-black"></div>
      <div class="field">
        <p class="control">
          <textarea class="textarea" maxlength="255" [(ngModel)]="editcomment"></textarea>
        </p>
      </div>

      <span class="ml-2" style="float: left;">{{ editcomment.length }}/255 </span>

      <div class="buttons is-right">
        <button class="button is-small is-outlined is-rounded is-light is-inverted" (click)="EditComment()"
          #loadstate2><span class="icon">
            <fa-icon [icon]="faEdit"></fa-icon>
          </span>
          <span>Post Edit</span></button>
        <button class="button is-small is-outlined is-rounded is-light is-inverted" (click)="CloseEditModal()"
          #loadstate2>Cancel</button>
      </div>
    </div>
  </div>
</div>
<!--========================================= EDIT MODAL =========================================-->

<!------------------------------------------- DELETE MODAL ------------------------------------------->
<div class="modal" [ngClass]="{ 'is-active' : isDeleteModalActive }">
  <div class="modal-background" (click)="CloseDeleteModal()"></div>
  <div style="min-width:fit-content" class="modal-content">
    <div class="box">
      <p class="title has-text-centered is-size-4">Delete Confirmation</p>
      <div class="buttons is-centered">
        <button class="button is-small is-outlined is-rounded is-light is-inverted" (click)="RemoveComment()">
          <span class="icon">
            <fa-icon [icon]="faTrash"></fa-icon>
          </span>
          <span> Delete</span>
        </button>
        <button class="button is-small is-outlined is-rounded is-light is-inverted" (click)="CloseDeleteModal()">
          <span>Cancel</span>
        </button>
      </div>
    </div>
  </div>
</div>
<!--========================================= DELETE MODAL =========================================-->



<!------------------------------------------- DOWNLOADMODAL MODAL ------------------------------------------->
<div class="modal" [ngClass]="{ 'is-active' : isDownloadModalActive }">
  <div class="modal-background" (click)="isDownloadModalActive = !isDownloadModalActive"></div>
  <div class="modal-content">
    <div class="box">
      <a style="float: right;" class="delete is-dark" (click)="isDownloadModalActive = !isDownloadModalActive"></a>

      <div *ngIf="PassModal">
        <p class="title">Password Protected</p>
        <div class="divider is-left is-black"></div>
  
        <div class="field">
          <progress class="progress is-hidden" max="100" #show_hidden>30%</progress>
        </div>

        <div class="field has-text-left">
          <div class="control has-icons-left">
            <input class="input is-rounded" type="password" placeholder="Password" [(ngModel)]="Pass">
            <span class="icon is-left is-small">
              <fa-icon [icon]="faLock"></fa-icon>
            </span>
          </div>
        </div>
  
        <div class="field is-grouped p-4">
          <div class="control">
            <button class="button is-dark" (click)="TryDownload()" #loadstate4>Enter</button>
          </div>
          <div class="control">
            <p *ngIf="modalstatus !== ''" class="has-text-danger">{{ modalstatus }}</p>
          </div>
        </div>
      </div>

      <div *ngIf="!PassModal">
        <div class="field">
          <p class="title has-text-black has-text-centered pt-2">Download</p>
          <div class="divider is-left is-black"></div>
          <div class="control">
            <p class="has-text-centered has-text-danger">{{ status }}</p>
          </div>
          <div class="field">
            <progress class="progress is-hidden" max="100" #show_hidden>30%</progress>
          </div>

          <div class="buttons has-addons is-centered">
            <button class="button is-dark" (click)="LoadEntries('srt')" 
              #loadstatesrt>Download srt</button>
            <button class="button is-dark" (click)="LoadEntries('ass')"  style="margin-right: 10px; margin-left: 10px;"
              #loadstateass>Download ass</button>
            <button class="button is-dark" (click)="LoadEntries('TTML')"
              #loadstatettml>Download TTML</button>
          </div>
          <button class="button is-dark" (click)="isDownloadModalActive = !isDownloadModalActive">Cancel</button>
        </div>
      </div>
    </div>

  </div>
</div>
<!--========================================= LOGIN MODAL =========================================-->