.arcard {
    max-width: 900px;
    margin: auto;
    .rating {
        &:hover {
            text-decoration: underline;
            color: black;
            font-weight: 550;
        }
    }
    .links {
        &:hover {
            color: blue;
        }
    }
}

.taglinks {
    &:hover {
        text-decoration: underline;
        background-color: blanchedalmond;
        color: #363636;
    }
}
#sign_up {
    color: #3273dc;
    text-decoration: underline;
    &:hover {
        color: blue;
    }
}

textarea {
    resize: none;
}
