<nav class="navbar is-primary" role="navigation" aria-label="dropdown navigation">
  <div class="navbar-brand">
    <a class="navbar-item" routerLink="/">
      <h1 class="title has-text-white">MCHAD</h1>
    </a>
    <div (click)="toggleNavbar()" class="navbar-burger" #navBurger>
      <span></span>
      <span></span>
      <span></span>
    </div>

  </div>

  <div class="navbar-menu" #navMenu>
    <div class="navbar-start">
      <p class="navbar-item is-unselectable">One-direction Live translation Client/App</p>
    </div>

    <div class="navbar-end">
      <a class="navbar-item" routerLink="/" [routerLinkActive]="['is-active']" [routerLinkActiveOptions]="{exact:
        true}" (click)="toggleNavbar()">Home</a>
      <a class="navbar-item" routerLink="/docs" [routerLinkActive]="['is-active']" (click)="toggleNavbar()">How to
        Use</a>
      <a class="navbar-item" routerLink="/schedule" [routerLinkActive]="['is-active']"
        (click)="toggleNavbar()">Schedule</a>
      <a class="navbar-item" routerLink="/archive" [routerLinkActive]="['is-active']"
        (click)="toggleNavbar()">Archive</a>
      <a class="navbar-item" routerLink="/about" [routerLinkActive]="['is-active']" (click)="toggleNavbar()">About</a>
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-light" href="https://discord.gg/g9t52ms" target="_blank" (click)="toggleNavbar()">
            <span class="icon">
              <fa-icon [icon]="faDiscord"></fa-icon>
            </span>
          </a>

          <a class="button is-light" routerLink="/roomapply" (click)="toggleNavbar()">
            New Room
          </a>

          <!------------------------------ LOGIN/LOGOUT BUTTON ------------------------------>
          <a *ngIf="!LoggedIn" class="button is-light" routerLink="/login" [routerLinkActive]="['is-active']">
            Login
          </a>
          
          <div *ngIf="LoggedIn" class="control">
            <div class="dropdown is-hoverable">
              <div class="dropdown-trigger">
                <p class="control">
                  <a class="button is-light" aria-haspopup="true" aria-controls="dropdown-menu">
                    <span class="is-hidden-mobile">{{ AccountName }}</span>
                  </a>
                </p>
              </div>
              <div class="dropdown-menu" id="dropdown-menu" role="menu">
                <div class="dropdown-content has-background-light">
                  <a class="button is-light" routerLink="/account" [routerLinkActive]="['is-active']">Account</a>
                </div>
                <div class="dropdown-content has-background-light">
                  <a class="button is-light" (click)="LogoutButtonPush()">Logout</a>
                </div>
              </div>
            </div>
          </div>
   <!--============================ LOGIN/LOGOUT BUTTON ============================-->

        </div>
      </div>
    </div>
  </div>
</nav>
