.box {
    max-width: 750px;
    margin: auto;
    border-radius: 15px;
    .field {
        max-width: 360px;
        margin: auto;
    }
}

/*   SCHEDULE LIST   */
ul {
    margin: auto;
    text-align: left;
    height: 20vh;
    overflow: hidden;
    overflow-y: scroll;
    overflow-x: scroll;
    &::-webkit-scrollbar {
        width: 7px;
        height: 7px;
    }
    /* Track */
    &::-webkit-scrollbar-track {
        background: white;
        border-radius: 0px;
    }
    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: #705870;
        border-radius: 3px;
    }
    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        background: #d84a85;
    }
    .ScheduleUIList {
        cursor: pointer;
        p {
            a {
                color: lightblue;
                &:hover {
                    color: blue;
                    text-decoration: underline;
                }
            }
        }
        .marked {
            color: rgb(19, 163, 0);
            font-weight: bold;
        } /*   WHEN SCHEDULE IS CLICKED   */
    }
}

.hyphenate {
    /* Careful, this breaks the word wherever it is without a hyphen */
    overflow-wrap: break-word;
    word-wrap: break-word;

    /* Adds a hyphen where the word breaks */
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}

@media only screen and (min-width: 0px) {
    #wrap {
        max-width: 150px;
        margin: auto;
    }
}

@media only screen and (min-width: 200px) {
    #wrap {
        max-width: 150px;
        margin: auto;
    }
}
@media only screen and (min-width: 320px) {
    #wrap {
        max-width: 220px;
        margin: auto;
    }
}
@media only screen and (min-width: 425px) {
    #wrap {
        max-width: 320px;
        margin: auto;
    }
}
@media only screen and (min-width: 768px) {
    #wrap {
        max-width: 450px;
        margin: auto;
    }
}
@media only screen and (min-width: 1200px) {
    #wrap {
        max-width: 100%;
        margin: auto;
    }
}
