<!--============================================ LOGIN PAGE =====================================================-->
<!--                       @HOSU NO NEED TO CHANGE THIS PART             -->
<div *ngIf="!LoginMode">
  <section class="hero is-primary is-fullheight-with-navbar">
    <div class="hero-body is-align-items-stretch">
      <div class="container has-text-centered has-text-black">
        <div class="animate__animated animate__fadeInDownBig">
          <div class="mt-4">
            <div class="box p-6">
              <p class="title has-text-black">TL Login</p>
              <div class="divider is-left is-black"></div>

              <!-- --------------- Room Name Input ---------------->
              <div class="field has-text-left">
                <label class="label">Room Name</label>
                <div class="control has-icons-left">
                  <input class="input is-rounded" type="text" placeholder="Room Name" [(ngModel)]="RoomNick">
                  <span class="icon is-left is-small">
                    <fa-icon [icon]="faUser"></fa-icon>
                  </span>
                </div>
              </div>
              <!-- --------------- Room Name Input ---------------->

              <!-- --------------- Password Input ---------------->
              <div class="field has-text-left">
                <label class="label">Password</label>
                <div class="control has-icons-left">
                  <input class="input is-rounded" type="password" placeholder="Password" [(ngModel)]="SearchPass">
                  <span class="icon is-left is-small">
                    <fa-icon [icon]="faLock"></fa-icon>
                  </span>
                </div>
              </div>
              <!-- --------------- Password Input ---------------->

              <!-- --------------- Enter Button ---------------->
              <div class="field is-grouped p-4">
                <div class="control">
                  <button class="button is-dark" (click)="LoginRoom()" #loadstate>Enter</button>
                </div>
                <div class="control">
                  <p *ngIf="status !== ''" class="has-text-danger">{{ status }}</p>
                </div>
              </div>
              <!-- --------------- Enter Button ---------------->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<!--============================================ LOGIN PAGE  =====================================================-->





<div *ngIf="LoginMode">
  <!---------------------- MENU ------------------------>
  <div>
    <a class="button is-small is-link" routerLink="/" [routerLinkActive]="['is-active']">
      <fa-icon [icon]="faHome"></fa-icon>
    </a>

    <div>
      <label>Font Size </label>
      <input type="number" min="1" [(ngModel)]="FFsize"/>
    </div>

    <input type="checkbox" [(ngModel)]="ThirdPartySharing" (ngModelChange)="ThirdPartyChange()"><span>Third Party Sharing</span>
    <a class="button" (click)="SetModalMenu(2)">Host Open Session</a>
    <a class="button" (click)="SetModalMenu(3)">Extra Info (Stream Link, Tags, Note)</a>
    <a class="button" (click)="SetModalMenu(4)">Password</a>
    <a class="button" (click)="SetModalMenu(5)">Export Script</a>
    <a class="button" (click)="SetModalMenu(6)">Save to Archive</a>
    <a class="button" (click)="SetModalMenu(7)">Clear Room</a>  
  </div>
  <!--==================== MENU ======================-->

  <!---------------------- ENTRY VIEWER ------------------------>
  <div class="container is-fluid">
    <div [style.-webkit-text-stroke-width]="OT + 'px'" [style.font-family]="FStyle" 
      [style.font-size]="FFsize + 'px'" [style.text-align]="TxAlign" style="display: flex; flex-direction: column;" #cardcontainer>
      <div id="BoxShape" *ngFor="let Entry of EntryList; index as i" class="animate__animated animate__fadeInLeft" (click)=OpenEditEntry(i)>
        <h1>{{ Entry.Stime | date:'HH:mm:ss'}} : 
          <span [style.-webkit-text-fill-color]="'#' + Entry.CC" [style.-webkit-text-stroke-color]="'#' + Entry.OC">{{ Entry.Stext }}</span>
        </h1>
      </div>
    </div>
  </div>
  <!--==================== ENTRY VIEWER ======================-->

  <!---------------------- TL TOOL ------------------------>
  <div>
    <!-------------------- PROFILE LIST -------------------->
    <div *ngIf="ProfileTab">
      <div *ngFor="let prf of ProfileList; index as i;">
        <p *ngIf="i == SelectedProfile">> {{prf.Name}}</p>
        <p *ngIf="i != SelectedProfile">{{prf.Name}}</p>
      </div>
    </div>
    <!--================== PROFILE LIST ==================-->

    <div>
      <input type="text" [(ngModel)]="TLEntry.Stext" (keydown.enter)="SendEntry()" max="200"/>
      <a class="button" (click)="SendEntry()">Enter</a>
    </div>

    <div>
      <label>Prefix </label>
      <input type="text" [(ngModel)]="Prefix" max="30"/>
    </div>

    <div>
      <label>Suffix </label>
      <input type="text" [(ngModel)]="Suffix" max="30"/>
    </div>

    <div>
      <input type="checkbox" [(ngModel)]="CCcheck">
      <label>Character Colour </label>
      <input type="color" [(ngModel)]="CCcolour"/>
    </div>

    <div>
      <input type="checkbox" [(ngModel)]="OCcheck">
      <label>Outline Colour </label>
      <input type="color" [(ngModel)]="OCcolour"/>
    </div>

    <a class="button" (click)="SetModalMenu(1)">Add Profile</a>
    <a class="button" (click)="ShiftUp()">Shift Up</a>
    <a class="button" (click)="ShiftDown()">Shift Down</a>
    <a class="button" (click)="DeleteProfile()">Delete Profile</a>
  </div>
  <!--==================== TL TOOL ======================-->
</div>



<!--
  1 => Add New Profile
  2 => Host Open Session
  3 => Stream Link, Tags, Note
  4 => Password
  5 => Export Script
  6 => Save to Archive
  7 => Clear room
  8 => Edit Entry
-->
<!---------------------------------------------- MODALS ------------------------------------------------------->
<div class="modal" [ngClass]="{ 'is-active' : ModalMenu != 0 }">
  <div class="modal-background" (click)="ModalMenu = 0"></div>
  <div class="modal-content" [ngSwitch]="ModalMenu">
    <!--  ADD NEW PROFILE  -->
    <div *ngSwitchCase="1">
      <p>NEW PROFILE</p>
      <input type="text" [(ngModel)]="ProfileName"/>
      <a class="button" (click)="ModalMenu = 0">Cancel</a>
      <a class="button" (click)="AddProfile()">Ok</a>
    </div>

    <!--  HOST OPEN SESSION  -->
    <div *ngSwitchCase="2">
      <p>HOST OPEN SESSION</p>
      <p>Session Password</p>
      
      <input type="text" [(ngModel)]="OpenSessionPass"/>
      <p>Open session allows proofreader or other translator to access the room with limiter privilege using a temporary pasword to make sure that they won't be able to mess with the archive and other settings</p>
      <a class="button" (click)="ModalMenu = 0">Cancel</a>
      <a class="button" (click)="SaveOpenSessionPass()">Save</a>
    </div>

    <!--  STREAM LINK TAGS NOTE  -->
    <div *ngSwitchCase="3">
      <p>Stream Link</p>
      <input type="text" [(ngModel)]="StreamLink" max="255"/>
      <p>Tags</p>
      <input type="text" [(ngModel)]="Tags" max="255"/>
      <p>Note</p>
      <input type="text" [(ngModel)]="Notes" max="1024"/>
      <a class="button" (click)="ModalMenu = 0">Cancel</a>
      <a class="button" (click)="SaveExtraInfo()">Save</a>
    </div>

    <!--  PASSWORD  -->
    <div *ngSwitchCase="4">
      <input type="checkbox" [(ngModel)]="PassCheck">
      <p>Password protected</p>
      <input type="text" [(ngModel)]="PassString" max="255"/>
      <a class="button" (click)="ModalMenu = 0">Cancel</a>
      <a class="button" (click)="SavePassword()">Save</a>
    </div>

    <!--  EXPORT  -->
    <div *ngSwitchCase="5">
      <p>EXPORT FORMAT</p>
      <a class="button" (click)="ExportToFile(0)">Export to plain text</a>
      <a class="button" (click)="ExportToFile(1)">Export to srt</a>
      <a class="button" (click)="ExportToFile(2)">Export to ass</a>
      <a class="button" (click)="ExportToFile(3)">Export to TTML</a>
      <a class="button" (click)="ModalMenu = 0">Cancel</a>
    </div>

    <!--  SAVE TO ARCHIVE  -->
    <div *ngSwitchCase="6">
      <p>SAVE TO ARCHIVE</p>
      <p>Title</p>
      <input type="text" [(ngModel)]="ArchiveTitle" max="255"/>
      <input type="checkbox" [(ngModel)]="PassCheck"><span>Password Protection</span>
      <input type="text" [(ngModel)]="PassString" max="255"/>
      <p>Link to stream</p>
      <input type="text" [(ngModel)]="StreamLink" max="255"/>
      <p>Tags</p>
      <input type="text" [(ngModel)]="Tags" max="255"/>
      <input type="checkbox" [(ngModel)]="ThirdPartySharing"><span>Party Sharing</span>
      <input type="checkbox" [(ngModel)]="Hidden"><span>Hidden</span>
      <a class="button" (click)="ModalMenu = 0">CANCEL</a>
      <a class="button" (click)="SaveToArchive()">OK</a>
    </div>

    <!--  FLUSH ROOM  -->
    <div *ngSwitchCase="7">
      <p>FLUSH THE ROOM?</p>
      <a class="button" (click)="ModalMenu = 0">CANCEL</a>
      <a class="button" (click)="ClearRoom()">OK</a>
    </div>

    <!-- EDIT ENRTY -->
    <div *ngSwitchCase="8">
      <p>EDIT ENTRY</p>
      <input type="text" [(ngModel)]="EditText" (keydown.enter)="SendEntry()" max="200"/>

      <div>
        <input type="checkbox" [(ngModel)]="EditCCheck">
        <label>Character Colour </label>
        <input type="color" [(ngModel)]="EditCC"/>
      </div>
  
      <div>
        <input type="checkbox" [(ngModel)]="EditOCheck">
        <label>Outline Colour </label>
        <input type="color" [(ngModel)]="EditOC"/>
      </div>
 
      <a class="button" (click)="ModalMenu = 0">CANCEL</a>
      <a class="button" (click)="SendEdit()">OK</a>
    </div>

  </div>
</div>
<!--============================================ MODALS =====================================================-->
