<body>
    <!---------------------------------------------- LOGIN MENU ------------------------------------------------------->
    <div *ngIf="!LoginMode">
        <div class="LoginDiv">
            <p style="margin: 10px; font-size: 2em; font-weight: bold;">Login</p>
            <hr>
            <p>Room
                <input style="margin-left: 1em ;" type="text" [(ngModel)]="SearchNick" placeholder="Room Name">
            </p>
            <p>Password
                <input style="margin-left: 1em ;" type="password" [(ngModel)]="SearchPass" placeholder="Password">
            </p>
            <p *ngIf="status !== ''" style="font-weight: bold;">{{ status }}</p>
            <button style="margin-top: 2em; cursor: pointer;" (click)="LoginRoom()">Enter</button>
        </div>
    </div>
    <!--============================================ LOGIN MENU =====================================================-->

    <div *ngIf="LoginMode">
        <div [ngSwitch]="mode">
            <!---------------------------------------------- UPLOAD MENU ------------------------------------------------------->
            <div *ngSwitchCase="'Upload'">
                <label for="myfile">Select a file:</label>
                <input type="file" accept=".ass, .TTML, .srt" (change)="FileChange($event)">

                <p>{{ status }}</p>

                <!------- ONLY SHOW MENU BELOW IF THE FILE IS PARSED WITHOUT ANY TROUBLE ------->
                <div *ngIf="FileParsed">
                    <label>New File</label>
                    <input type="checkbox" [(ngModel)]="FileNew"><br>

                    <!------- IF UPLOADING NEW ARCHIVE ------->
                    <div *ngIf="FileNew">
                        <label>Archive Title</label>
                        <input placeholder="Title" [(ngModel)]="SelectedArchive.Nick">
                        <br>
        
                        <label>Tags</label>
                        <input placeholder="Tags" [(ngModel)]="SelectedArchive.Tags">
                        <br>
        
                        <label>Stream Link</label>
                        <input placeholder="Stream Link" [(ngModel)]="SelectedArchive.StreamLink">
                        <br>
        
                        <label>Password Protection</label>
                        <input type="checkbox" [(ngModel)]="SelectedArchive.Pass"><br>
                        <div *ngIf="SelectedArchive.Pass">
                            <input placeholder="Password" [(ngModel)]="PassString">
                            <br>
                        </div>
        
                        <label>Hidden</label>
                        <input type="checkbox" [(ngModel)]="SelectedArchive.Hidden">
                        <br>
        
                        <label>Third-Party Shared</label>
                        <input type="checkbox" [(ngModel)]="SelectedArchive.ExtShare">
                        <br>
                        <button style="margin-top: 2em; cursor: pointer;" (click)="PushUpload(true)">Upload</button>
                    </div>
                    <!--===== IF UPLOADING NEW ARCHIVE =====-->

                    <!------- IF OVERWRITING ARCHIVE ------->
                    <div *ngIf="!FileNew">
                        <label>Choose which to overwrite</label>
                        <ul>
                            <li *ngFor="let archive of Archivedt; let i = index"
                                [class.marked]="i === SelectedIndex"
                                (click)="SetSelected(i)"
                                style="cursor:pointer">
                                <p> {{ archive.Nick }} </p>
                            </li>
                        </ul>

                        <div *ngIf="SelectedIndex === -1">
                            <button style="margin-top: 2em; cursor: pointer;" (click)="PushUpload(false)" disabled>Upload</button>
                        </div>
                        <div *ngIf="SelectedIndex !== -1">
                            <button style="margin-top: 2em; cursor: pointer;" (click)="PushUpload(false)">Upload</button>
                        </div>
                    </div>
                    <!--===== IF OVERWRITING ARCHIVE =====-->

                </div>

                <button style="margin-top: 2em; cursor: pointer;" (click)="Setmode('')">Back</button>
            </div>
            <!--============================================ UPLOAD MENU =====================================================-->

            <!---------------------------------------------- EXPORT MENU ------------------------------------------------------->
            <div *ngSwitchCase="'Export'">

                <ul>
                    <li *ngFor="let archive of Archivedt; let i = index"
                        [class.marked]="i === SelectedIndex"
                        (click)="SetSelected(i)"
                        style="cursor:pointer">
                        <p> {{ archive.Nick }} </p>
                    </li>
                </ul>
                
                <button style="margin-top: 2em; cursor: pointer;" (click)="LoadEntries('srt')">Export srt</button>
                <button style="margin-top: 2em; cursor: pointer;" (click)="LoadEntries('ass')">Export ass</button>
                <button style="margin-top: 2em; cursor: pointer;" (click)="LoadEntries('TTML')">Export TTML</button>
                <button style="margin-top: 2em; cursor: pointer;" (click)="Setmode('')">Back</button>
                <br>
                {{ status }}
            </div>
            <!--============================================ EXPORT MENU =====================================================-->

            <!---------------------------------------------- EDIT MENU ------------------------------------------------------->
            <div *ngSwitchCase="'Edit'">

                <ul>
                    <li *ngFor="let archive of Archivedt; let i = index"
                        [class.marked]="i === SelectedIndex"
                        (click)="SetSelected(i)"
                        style="cursor:pointer">
                        <p> {{ archive.Nick }} </p>
                    </li>
                </ul>

                <label>Archive Title</label>
                <input placeholder="Title" [(ngModel)]="SelectedArchive.Nick">
                <br>

                <label>Tags</label>
                <input placeholder="Tags" [(ngModel)]="SelectedArchive.Tags">
                <br>

                <label>Stream Link</label>
                <input placeholder="Stream Link" [(ngModel)]="SelectedArchive.StreamLink">
                <br>

                <label>Password Protection</label>
                <input type="checkbox" [(ngModel)]="SelectedArchive.Pass"><br>
                <div *ngIf="SelectedArchive.Pass">
                    <input placeholder="Password" [(ngModel)]="PassString">
                    <br>
                </div>

                <label>Hidden</label>
                <input type="checkbox" [(ngModel)]="SelectedArchive.Hidden">
                <br>

                <label>Third-Party Shared</label>
                <input type="checkbox" [(ngModel)]="SelectedArchive.ExtShare">
                <br>

                <div *ngIf="SelectedIndex === -1">
                    <button style="margin-top: 2em; cursor: pointer;" (click)="PushUpdate()" disabled>Update</button>
                </div>
                <div *ngIf="SelectedIndex !== -1">
                    <button style="margin-top: 2em; cursor: pointer;" (click)="PushUpdate()" >Update</button>
                </div>

                <button style="margin-top: 2em; cursor: pointer;" (click)="Setmode('')">Back</button>
                {{ status }}
            </div>
            <!--============================================ EDIT MENU =====================================================-->            

            <!---------------------------------------------- DELETE MENU ------------------------------------------------------->
            <div *ngSwitchCase="'Delete'">
                <ul>
                    <li *ngFor="let archive of Archivedt; let i = index"
                        [class.marked]="i === SelectedIndex"
                        (click)="SetSelected(i)"
                        style="cursor:pointer">
                        <p> {{ archive.Nick }} </p>
                    </li>
                </ul>
    
                <div *ngIf="SelectedIndex === -1">
                    <button style="margin-top: 2em; cursor: pointer;" (click)="PushDelete()" disabled>Delete</button>
                </div>
                <div *ngIf="SelectedIndex !== -1">
                    <button style="margin-top: 2em; cursor: pointer;" (click)="PushDelete()">Delete</button>
                </div>

                <button style="margin-top: 2em; cursor: pointer;" (click)="Setmode('')">Cancel</button>

                {{ status }}
            </div>
            <!--============================================ DELETE MENU =====================================================-->

            <!---------------------------------------------- MAIN MENU ------------------------------------------------------->
            <div *ngSwitchDefault>
                <button style="margin-top: 2em; cursor: pointer;" (click)="Setmode('Upload')">Upload</button>
                <button style="margin-top: 2em; cursor: pointer;" (click)="Setmode('Export')">Export</button>
                <button style="margin-top: 2em; cursor: pointer;" (click)="Setmode('Edit')">Edit</button>
                <button style="margin-top: 2em; cursor: pointer;" (click)="Setmode('Delete')">Delete</button>
                <a class="button" href="/archive" routerLinkActive="active">Log out</a>
            </div>
            <!--============================================ MAIN MENU =====================================================-->
        </div>