<div class="columns is-multiline">
  <div class="column is-full pl-6 pt-6">
    <section class="section content">
      <h1>About</h1>
      <div class="divider is-left is-black"></div>
      Just a one-direction chat room application with extra functions to help live translation both for the translators
      and
      the listeners.<br>
      The stand-alone app is made with C++ QT for Listener Client and C# in Unity for Translator Client.<br>
      The Webapp is made with TypeScript in Angular.<br>

      <ul>
        <li>My skill in UI design is super bad, so yeah, any help with UI design both in the Webapp and stand-alone app
          is
          very much appreciacted</li>
      </ul>
      <div class="columns pt-6">
        <div class="column">
          <h1>Suggestion</h1>
          <div class="divider is-left is-black"></div>
          <p>Any suggestions is welcomed both from the translators and the listeners.</p>
          <a class="button" href="https://forms.gle/EYy5sbUiYpHRmuZB7" target="_blank">SuggestionBox</a>
        </div>
        <div class="column">
          <h1>Bug Reporting</h1>
          <div class="divider is-left is-black"></div>
          <p>If you find any bugs or encounter any errors, feel free to report it so we can take care of it ASAP. Thank
            you.</p>
          <a class="button" href="https://forms.gle/mNyE2JyZZA4a21Yp7" target="_blank">Bug
            Reporting</a>
        </div>
      </div>
    </section>

  </div>
  <div class="column has-background-primary-dark">
    <section class="section content">
      <h1 class="has-text-white">MChad Family</h1>
      <div class="box">
        <div class="columns">
          <div class="column is-2">
            <img src="assets/img/ProfilePict/MonMonPict.jpg" width="100" height="100">
            <p> <strong>MonMon Mnemonic </strong> <br> Programmer</p>
          </div>
          <div class="column">
            <p>Just a fan trying to help out other fans.</p>
            <p>Love games, both playing games and creating games. Don't really play FPS because of my kusozaku aim,
              mostly play RTS or RPG or ARPG. And no, I don't play online games, can't handle the toxicity. </p>
            <p>I've been doing programming as a part time since high school, want to be a game developer, but for
              some reason, ended up doing particle physics XD But well, I guess all of those programming experiences
              also ended
              up useful for my research and I do like physics. So yeah, as you can see, I'm a full blown-nerd.</p>
          </div>
        </div>
      </div>
      <div class="box">
        <div class="columns">
          <div class="column is-2">
            <img src="assets/img/ProfilePict/HosuNyanPasu.png" width="100" height="100">
            <p> <strong>Hosu~NyanPasu </strong> <br> UI/UX</p>
          </div>

          <div class="column">
            <p>
              Anime geek, Dota 2 player turned Vtuber Simp. Has a B.Tech Degree in Computer Science. <br>
              Freelance Website developer, uses Unity to make crappy games currently working on an Animation portfolio.
            </p>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
<app-scroll-to-top></app-scroll-to-top>
