<!--============================================ SIGN IN PAGE =====================================================-->
<section class="hero is-primary is-fullheight-with-navbar">
  <div class="hero-body is-align-items-stretch">
    <div class="container has-text-centered has-text-black">
      <div class="animate__animated animate__fadeInDownBig">
        <div class="mt-4">
          <div class="box p-6">
            <p class="title has-text-black">Sign In</p>
            <div class="divider is-left is-black"></div>

            <!-- --------------- Room Name Input ---------------->
            <div class="field has-text-left">
              <label class="label">Account Nick</label>
              <div class="control has-icons-left">
                <input class="input is-rounded" type="text" placeholder="Account Nick" [(ngModel)]="Nick">
                <span class="icon is-left is-small">
                  <fa-icon [icon]="faUser"></fa-icon>
                </span>
              </div>
            </div>
            <!-- --------------- Room Name Input ---------------->

            <!-- --------------- Password Input ---------------->
            <div class="field has-text-left">
              <label class="label">Password</label>
              <div class="control has-icons-left">
                <input class="input is-rounded" type="password" placeholder="Password" [(ngModel)]="Pass">
                <span class="icon is-left is-small">
                  <fa-icon [icon]="faLock"></fa-icon>
                </span>
              </div>
            </div>
            <!-- --------------- Password Input ---------------->

            <!-- --------------- Enter Button ---------------->
            <div class="field is-grouped p-4">
              <div class="control">
                <button class="button is-dark" (click)="LoginTry()" #loadstate>Login</button>
              </div>
              <div class="control">
                <p *ngIf="status !== ''" class="has-text-danger">{{ status }}</p>
              </div>
            </div>
            <!-- --------------- Enter Button ---------------->

            <!-- --------------- Restart Pass Button ---------------->
            <div class="field has-text-left">
              <div class="control">
                <p><a routerLink="/restart-pass" [routerLinkActive]="['is-active']">Forgot Password?</a></p>
              </div>
            </div>
            <!-- --------------- Restart Pass Button ---------------->

            <!-- --------------- Sign Up Button ---------------->
            <div class="field has-text-left">
              <div class="control">
                <p class="has-text-weight-bold">Don't have an account yet ? <a id="sign_up" routerLink="/signup">Sign
                    Up</a>
                <p>
              </div>
            </div>
            <!-- --------------- Sign Up Button ---------------->

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--============================================ SIGN IN PAGE  =====================================================-->
