.menucard {
    max-width: 900px;
    margin: auto;
}

#BoxShape {
    border-radius: 25px;
    box-shadow: -7px -5px 102px -27px rgba(0, 0, 0, 0.75);
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 1px;
    padding-bottom: 1px;
}

div.ModMessage {
    background-color: rgba(56, 83, 170, 0.5);
}

div.OwnerMessage {
    background-color: rgba(204, 182, 57, 0.5);
}

div.WelcomeMember {
    background-color: #0f9d58;
}

.wrap {
    /* These are technically the same, but use both */
    overflow-wrap: break-word;
    word-wrap: break-word;

    -ms-word-break: break-all;
    /* This is the dangerous one in WebKit, as it breaks things wherever */
    word-break: break-all;
    /* Instead use this non-standard one: */
    word-break: break-word;

    /* Adds a hyphen where the word breaks, if supported (No Blink) */
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

textarea {
    resize: none;
}
