<div class="menucard">
    <article class="box media has-background-light">
      <div class="media-content">
        <div class="content">
            <div [ngSwitch]="CurrentPage">
                <!------------------------------- First Page  ------------------------------->
                <div *ngSwitchCase="0">
                    <label>Mode:</label>
                    <select [(ngModel)]="ProxyMode">
                      <option [value]="0" [selected]="ProxyMode==0">MChad Room</option>
                      <option [value]="1" [selected]="ProxyMode==1">Live Chat</option>
                    </select>
                    <br>
                    
                    <div [ngSwitch]="ProxyMode">
                        <div *ngSwitchCase="0">
                            <label>Choose Room:
                                <input list="Rooms" [(ngModel)]="RoomNick" (ngModelChange)="CheckPass()"/></label>
                            <datalist id="Rooms">
                                <option *ngFor="let dt of RoomList" [value]="dt.Nick" >{{dt.Nick}}</option>
                            </datalist>
                            <br>
                        
                            <div *ngIf="PasswordProtected">
                                <label>Password:</label>
                                <input type="text" [(ngModel)]="RoomPass"/>
                            <br>        
                            </div>            
                        </div>
                        <div *ngSwitchCase="1">
                            Pop out chat URL
                            <input type="text" [(ngModel)]="ChatURL"/>
                        </div>
                    </div>
            
                    <button (click)="NextButtonClick()">Next</button>
                </div>
                <!--============================= First Page  =============================-->
            
                <!------------------------------- Second Page  ------------------------------->
                <div class="columns" *ngSwitchCase="1">
                    <!-- Options -->
                    <div class="column is-5">

                        <!--        Card Number     -->
                        <div class="divider is-horizontal" data-content="# max cards"></div>
                        <label>Max message card # </label>
                        <input type="number" min="0" [(ngModel)]="MaxDisplay"/>

                        <!--        Text Alignment     -->
                        <div class="divider is-horizontal" data-content="Text Align"></div>
                        <label>Text Alignment </label>
                        <select [(ngModel)]="TxAlign" (ngModelChange)="RepaintEntries()">
                           <option [value]="'left'" [selected]="TxAlign=='left'">Left</option>
                           <option [value]="'center'" [selected]="TxAlign=='center'">Center</option>
                           <option [value]="'right'" [selected]="TxAlign=='right'">Right</option>
                        </select>
                        
                        <!--        Font     -->
                        <div class="divider is-horizontal" data-content="Font"></div>
                        <label>Font Family </label>
                        <select [(ngModel)]="FFamily" (ngModelChange)="FFSelectChange()">
                           <option [value]="'sans-serif'" [selected]="FFamily=='sans-serif'">Sans-serif</option>
                           <option [value]="'cursive'" [selected]="FFamily=='cursive'">Cursive</option>
                           <option [value]="'monospace'" [selected]="FFamily=='monospace'">Monospace</option>
                        </select>
                        <br>
                        <label>Or load Google web font
                            (<a href="https://fonts.google.com/" target="_blank" >browse font</a>)
                        </label>
                        <br>
                        <label>Font name </label>
                        <input type="text" [(ngModel)]="WebFontTemp"/>
                        <br>
                        <button (click)="LoadWebFont()">Load Web Font</button>
                        <link [href]="FetchWebFont()" rel="stylesheet">
                        <br>
                        <label>Font Size </label>
                        <input type="number" min="0" [(ngModel)]="FFsize" (ngModelChange)="RepaintEntries()"/>

                        <!--        Outline Thickness     -->
                        <div class="divider is-horizontal" data-content="Outline Thickness"></div>
                        <label>Outline Thickness </label>
                        <input type="number" min="0" [(ngModel)]="OT" (ngModelChange)="RepaintEntries()"/>        
                        
                        <!--        Card Colour     -->
                        <div class="divider is-horizontal" data-content="Card Colour"></div>
                        <label>Card BG Colour </label>
                        <input type="color" [(ngModel)]="BGcolour" (ngModelChange)="ReRenderExample()"/>
                        <br>     
                        <label>Transparency </label>
                        <br>
                        <p>{{ 100 - CardBGColour.a*100 }}%</p>
                        <input type="range" min="0" max="1" step="0.01" [(ngModel)]="CardBGColour.a" (ngModelChange)="RepaintEntries()"/>        

                        <!--        Card Animation     -->
                        <div class="divider is-horizontal" data-content="Card Animation"></div>
                        <label>Animation Type </label>
                        <select [(ngModel)]="AniType">
                           <option [value]="'fadeIn'" [selected]="AniType=='fadeIn'">Fade In</option>
                           <option [value]="'backIn'" [selected]="AniType=='backIn'">Back In</option>
                           <option [value]="'bounceIn'" [selected]="AniType=='bounceIn'">Bounce In</option>
                           <option [value]="'slideIn'" [selected]="AniType=='slideIn'">Slide In</option>
                           <option [value]="'zoomIn'" [selected]="AniType=='zoomIn'">Zoom In</option>
                           <option [value]="'None'" [selected]="AniType=='None'">None</option>
                        </select>
                        <br>
                        <label>Animation Direction </label>
                        <select [(ngModel)]="AniDir">
                           <option [value]="'Up'" [selected]="AniDir=='Up'">Up</option>
                           <option [value]="'Left'" [selected]="AniDir=='Left'">Left</option>
                           <option [value]="'Right'" [selected]="AniDir=='Right'">Right</option>
                           <option [value]="'Down'" [selected]="AniDir=='Down'">Down</option>
                        </select>
                        <br>
                
                        <div class="divider is-horizontal"></div>
                        <button (click)="PrevButtonClick()">Prev</button>
                        <button (click)="NextButtonClick()">Next</button>
                    </div>
                    <div class="divider is-vertical is-left"></div>
                    <!-- Example -->
                    <div class="column" style="display: flex; flex-direction: column;">
                        <div style="display: flex; flex-direction: row;">
                            <span>Preview</span>
                            <button style="margin-left: auto;" (click)="Backgroundchange()" #BGSwitchButton>Black</button>
                        </div>
                        <div style="display: flex; flex-direction: column-reverse; height: 100%; background-color: white; padding: 15px; margin-top: 10px;" #previewcontainer>
                            <div style="display: flex; flex-direction: column;" #cardcontainer></div>
                        </div>                        
                    </div>
                </div>
                <!--============================= Second Page  =============================-->
            
                <!------------------------------- Third Page  ------------------------------->
                <div *ngSwitchCase="2">
                    In OBS, add "browser" source, use URL below
                    <p>URL
                        <button (click)="CopyBtnClick(true)">Copy</button>
                    </p>        
                    <textarea class="textarea" placeholder="Generating Link..." readonly
                    [(ngModel)]="ProxyLink" #LinkTextArea></textarea>
            
                    and custom CSS below
                    <p>Custom CSS
                        <button (click)="CopyBtnClick(false)">Copy</button>
                    </p>
                    <textarea class="textarea" placeholder="Generating CSS..." readonly
                    [(ngModel)]="ProxyCss" #CSSTextArea></textarea>
            
                    <button (click)="PrevButtonClick()">Prev</button>
                </div>
                <!--============================= Third Page  =============================-->
            </div>
        </div>
      </div>
    </article>
</div>