<!--------------------- GOOGLE FONT LOADER --------------------->
<div *ngIf="(FStyle != 'sans-serif') && (FStyle != 'cursive') && (FStyle != 'monospace')">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link [href]="sanitize(FStyle)" rel="stylesheet">
</div>
<!--=================== GOOGLE FONT LOADER ===================-->

<!----------------------------- FLEX TO MAKE SURE THAT CHAT WILL ALWAYS ALIGNED TO THE BOTTOM OF THE WINDOW ----------------------------->
<section class="hero">
  <div class="hero-body">
    <div class="container" style="height: 98vh; display: flex; flex-direction: column-reverse;">
      <!-------------- CONTAINER FOR THE ENTRIES TO ALLOW VERTICAL SCROLLER, MCHAD ENTRIES IS PRINTED DIRECTLY TO THIS CONTAINER -------------->
      <div (scroll)="onScrollView()" #cardcontainer>

        <!-----------------------------------------------     CHAT PROXY MODE     ----------------------------------------------->
        <div *ngIf="ChatProxy" #ChatContainer>

          <!----------------------------- CONTAINER TO SET DEFAULT FONT AND ANIMATION TO ALL ENTRIES ----------------------------->
          <div class="mt-2" [style.font-family]="FStyle" [style.font-size]="FFsize + 'px'"
            [style.animation-duration]="AniDuration + 'ms'" [class]="'animate__animated animate__' + Ani"
            *ngFor="let Entry of EntryList" #Entry>

            <!--------------------------------------------- AUTO TRANSLATION MODE --------------------------------------------->
            <div *ngIf="!ChatFilterMode">
              <!----------------------- CONTAINER TO SWITCH BETWEEN DIFFERENT TYPE OF ENTRIES ----------------------->
              <div [ngSwitch]="Entry.type">
                <!----------------------------------------- SC ENTRY ----------------------------------------->
                <div *ngSwitchCase="'SC'">
                  <!------------------- CONTAINER TO SET BACKGROUND COLOUR OF THE ENTRY ------------------->
                  <div id="BoxShape" [style.background]="Entry.BC">
                    <!------- AUTHOR HEAD -------->
                    <span *ngIf="AuthHead">
                      <ng-container [ngTemplateOutlet]="AuthorHeadRenderer"
                        [ngTemplateOutletContext]="{PURL:Entry.authorPhoto, Name:Entry.author, ABadge:Entry.badgeContent, AType:Entry.Mod}">
                      </ng-container>
                    </span>
                    <!-- SC VALUE -->
                    <span class="has-text-weight-bold is-size-3">
                      [SC : {{ Entry.SC }} ]<br>
                    </span>
                    <!------- MSG Content ------->
                    <ng-container [ngTemplateOutlet]="MessageRenderer"
                      [ngTemplateOutletContext]="{Content:Entry.content, TLContent:Entry.TL}">
                    </ng-container>
                    <br>

                  </div>
                  <!--================= CONTAINER TO SET BACKGROUND COLOUR OF THE ENTRY =================-->
                </div>
                <!--======================================= SC ENTRY =======================================-->

                <!----------------------------------------- SC STICKER ----------------------------------------->
                <div *ngSwitchCase="'SCS'">

                  <!------------------- CONTAINER TO SET BACKGROUND COLOUR OF THE ENTRY ------------------->
                  <div id="BoxShape" [style.background]="Entry.BC">

                    <!------- AUTHOR HEAD -------->
                    <span *ngIf="AuthHead">
                      <ng-container [ngTemplateOutlet]="AuthorHeadRenderer"
                        [ngTemplateOutletContext]="{PURL:Entry.authorPhoto, Name:Entry.author, ABadge:Entry.badgeContent, AType:Entry.Mod}">
                      </ng-container>
                    </span>

                    <!-- SC VALUE -->
                    <span class="has-text-weight-bold is-size-3">
                      [SC : {{ Entry.SC }} ]<br>
                    </span>

                    <!------- STICKER ------->
                    <span *ngFor="let e of Entry.content">
                      <img *ngIf="e.indexOf('https://') != -1" src={{e}} [style.height]="FFsize*5 + 'px'"
                        [style.width]="FFsize*5 + 'px'" />
                    </span>
                    <br>

                  </div>
                  <!--================= CONTAINER TO SET BACKGROUND COLOUR OF THE ENTRY =================-->

                </div>
                <!--======================================= SC STICKER =======================================-->

                <!----------------------------------------- NEW MEMBER ----------------------------------------->
                <div *ngSwitchCase="'MEMBER'">
                  <!------------------- CONTAINER TO SET BACKGROUND COLOUR OF THE ENTRY ------------------->
                  <div id="BoxShape" class="WelcomeMember">
                    <!------- AUTHOR HEAD -------->
                    <span *ngIf="AuthHead">
                      <ng-container [ngTemplateOutlet]="AuthorHeadRenderer"
                        [ngTemplateOutletContext]="{PURL:Entry.authorPhoto, Name:Entry.author, ABadge:Entry.badgeContent, AType:Entry.Mod}">
                      </ng-container>
                    </span>

                    <!----- NEW MEMBER NOTIFICATION ----->
                    <span class="has-text-weight-bold is-size-3">
                      [NEW MEMBER]
                      <br>
                    </span>

                    <!------- MSG Content ------->
                    <ng-container [ngTemplateOutlet]="MessageRenderer"
                      [ngTemplateOutletContext]="{Content:Entry.content, TLContent:Entry.TL}">
                    </ng-container>
                    <br>

                  </div>
                  <!--================= CONTAINER TO SET BACKGROUND COLOUR OF THE ENTRY =================-->

                </div>
                <!--======================================= NEW MEMBER =======================================-->

                <!----------------------------------------- NORMAL MESSAGE ----------------------------------------->
                <div *ngSwitchDefault>

                  <!------------------- CONTAINER TO SET BACKGROUND COLOUR OF THE ENTRY ------------------->
                  <div id="BoxShape" [ngClass]="ClassSeparator(Entry.Mod)">

                    <!------- AUTHOR HEAD -------->
                    <span *ngIf="AuthHead">
                      <ng-container [ngTemplateOutlet]="AuthorHeadRenderer"
                        [ngTemplateOutletContext]="{PURL:Entry.authorPhoto, Name:Entry.author, ABadge:Entry.badgeContent, AType:Entry.Mod}">
                      </ng-container>
                    </span>

                    <!------- MSG Content ------->
                    <ng-container [ngTemplateOutlet]="MessageRenderer"
                      [ngTemplateOutletContext]="{Content:Entry.content, TLContent:Entry.TL}">
                    </ng-container>
                    <br>

                  </div>
                  <!--================= CONTAINER TO SET BACKGROUND COLOUR OF THE ENTRY =================-->

                </div>
                <!--======================================= NORMAL MESSAGE =======================================-->

              </div>
              <!--===================== CONTAINER TO SWITCH BETWEEN DIFFERENT TYPE OF ENTRIES =====================-->

            </div>
            <!--=========================================== AUTO TRANSLATION MODE ===========================================-->




            <!------------------------------------- FILTER MODE ------------------------------------->
            <div id="BoxShape" *ngIf="ChatFilterMode">

              <!------- AUTHOR HEAD -------->
              <span *ngIf="AuthHead">
                <ng-container [ngTemplateOutlet]="AuthorHeadRenderer"
                  [ngTemplateOutletContext]="{PURL:Entry.authorPhoto, Name:Entry.author, ABadge:Entry.badgeContent, AType:Entry.Mod}">
                </ng-container>
              </span>

              <!------- MSG Content ------->
              <ng-container [ngTemplateOutlet]="MessageRenderer" 
                [ngTemplateOutletContext]="{Content:Entry.content, TLContent:Entry.TL}">
              </ng-container>
              <br>

            </div>
            <!--=================================== FILTER MODE ===================================-->



          </div>
          <!--=========================== CONTAINER TO SET DEFAULT FONT AND ANIMATION TO ALL ENTRIES ===========================-->

        </div>
        <!--=============================================     CHAT PROXY MODE     =============================================-->

      </div>
      <!--========== CONTAINER FOR THE ENTRIES TO ALLOW VERTICAL SCROLLER, MCHAD ENTRIES IS PRINTED DIRECTLY TO THIS CONTAINER ==========-->
    </div>
  </div>
</section>

<!--=========================== FLEX TO MAKE SURE THAT CHAT WILL ALWAYS ALIGNED TO THE BOTTOM OF THE WINDOW ===========================-->





<!------------ AUTHOR HEAD TEMPLATE ------------>
<ng-template #AuthorHeadRenderer let-PictureURL='PURL' let-AuthorName='Name' let-AuthorBadge='ABadge'
  let-AuthorType='AType'>
  <!-- AUTHOR PICTURE -->
  <img *ngIf="AuthPP" src={{PictureURL}} style="border-radius: 50%;" [style.height]="FFsize + 'px'"
    [style.width]="FFsize + 'px'" />

  <!-- AUTHOR NAME -->
  <span *ngIf="AuthName" class="has-text-weight-bold"
    [style.-webkit-text-stroke-width]="OverrideCStyle && OT + 'px'" [style.-webkit-text-stroke-color]="OverrideCStyle && OverrideOCAuthor" 
    [style.-webkit-text-fill-color]="AuthorType == 1 ? '#0f9d58' : OverrideCStyle && OverrideCCAuthor">{{ AuthorName }}</span>

  <!-- AUTHOR BADGE -->
  <span *ngIf="AuthBadge">
    <img *ngFor="let e of AuthorBadge" src={{e.Thumbnail}} [style.height]="FFsize + 'px'"
      [style.width]="FFsize + 'px'" />
  </span>

  <span class="has-text-weight-bold"> : </span>
</ng-template>
<!--========== AUTHOR HEAD TEMPLATE ==========-->

<!------------ MESSAGE PARSER TEMPLATE ------------>
<ng-template #MessageRenderer let-Content='Content' let-TLContent='TLContent'>
  <span *ngFor="let e of Content">

    <!--        EMOJI     -->
    <img *ngIf="e.indexOf('https://') != -1" src={{e}} [style.height]="FFsize + 'px'" [style.width]="FFsize + 'px'" />

    <!--        LETTER MESSAGE     -->
    <span *ngIf="e.indexOf('https://') == -1" [style.-webkit-text-stroke-width]="OverrideCStyle && OT + 'px'" 
    [style.-webkit-text-stroke-color]="OverrideCStyle && OverrideOC" [style.-webkit-text-fill-color]="OverrideCStyle && OverrideCC">{{ e }}</span>

  </span>

  <!--        AUTO TL MSG     -->
  <span *ngIf="TLContent" [style.-webkit-text-stroke-width]="OverrideCStyle && OT + 'px'" 
    [style.-webkit-text-stroke-color]="OverrideCStyle && OverrideOC" [style.-webkit-text-fill-color]="OverrideCStyle && OverrideCC">
    (Auto TL: {{ TLContent }} )
  </span>
</ng-template>
<!--========== MESSAGE PARSER TEMPLATE ==========-->