#BoxShape {
    border-radius: 25px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 1px;
    padding-bottom: 1px;
}

div.ModMessage{
    background-color: rgba(56, 83, 170, 0.5);
}

div.OwnerMessage{
    background-color: rgba(204, 182, 57, 0.5);
}

div.WelcomeMember{
    background-color: #0F9D58;
}

span.MemberAuthor{
    color: #0F9D58;
}