<div class="container is-fluid" style="height: 98vh; display: flex; flex-direction: column-reverse;">
    <div id="cardcontainer" style="display: flex; flex-direction: column; overflow-y: auto;" (scroll)="onScrollView()" #cardcontainer>
        <!----------------------------     CHAT PROXY MODE     ---------------------------->
        <div *ngIf="ChatProxy">
            <div id="BoxShape" style="margin-top: 0.5em;" class="animate__animated animate__fadeInLeft" *ngFor="let Entry of EntryList" #Entry>
                <!--        AUTHOR HEAD     -->
                <span *ngIf="AuthHead" style="display: flex;flex-direction: row;align-items: center;">
                    <img *ngIf="AuthPP" src={{Entry.authorPhoto}} style="border-radius: 50%; height: 20x; width: 20px;"/>
                    <span *ngIf="AuthName">{{ Entry.author }}</span>
                    <span *ngIf="AuthBadge">
                        <img *ngFor="let e of Entry.badgeContent" src={{e.Thumbnail}} style="height: 20px; width: 20px;"/>
                    </span>
                    <span> : </span>
                </span>
    
                <!--        SC      -->
                <span *ngIf="Entry.type == 'SC'" style="font-size: 2em; font-weight: bold;">
                    [SC : {{ Entry.SC }} ]
                    <br>
                </span>            
    
                <!--        MEMBER      -->
                <span *ngIf="Entry.type == 'MEMBER'" style="font-size: 2em; font-weight: bold;">
                    [NEW MEMBER]
                    <br>
                </span>            
    
                <!--        MSG Content     -->
                <span *ngFor="let e of Entry.content">
                    <img *ngIf="e.indexOf('https://') != -1" src={{e}} style="height: 20px; width: 20px;"/>
                    <span *ngIf="e.indexOf('https://') == -1">{{ e }}</span>
                </span>
                <br>
    
                <span *ngIf="Entry.TL">
                    (Auto TL: {{ Entry.TL }} )
                </span>
            </div>
        </div>
    </div>
</div>
