#BoxShape {
    border-radius: 25px;
    box-shadow: -7px -5px 102px -27px rgba(0, 0, 0, 0.75);
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 1px;
    padding-bottom: 1px;
}

div.ModMessage {
    background-color: rgba(56, 83, 170, 0.5);
}

div.OwnerMessage {
    background-color: rgba(204, 182, 57, 0.5);
}

div.WelcomeMember {
    background-color: #0f9d58;
}