.MenuButton {
    float: right;
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: #000000;
    border: none;
    text-align: center;
    font-size: min(25px, 4vw);
    width: 1.5em;
    margin-right: 10px;
    border-radius: 25px;
}