/*Docs*/
/* SIDEBAR */
/* all links */
/* nested links */
/* hover links */
/* focus links */
/* active links */
/* all active links */
.body {
	position: relative;
}
.main-body{
	background-color: #D0D1CD;
}
pre {
	white-space: pre-wrap;       /* css-3 */
	white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	word-wrap: break-word;       /* Internet Explorer 5.5+ */
   }
.section{
	>p{
	color: rgb(0, 0, 0);
	}
		.block{
			.subtitle{
				color: rgb(0, 0, 0);
			}
			>ul{
				>li{
					>strong{
						color: rgb(0, 0, 0);
							}				
					}					
				}
			
			>p{
				>strong{
					text-decoration: underline;
					color: rgb(0, 0, 0);
				}
			}
			.columns{
				.column{
					>ul{
						>li{
							>strong{
								color: rgb(0, 0, 0);							
							}
						}					
					}
					
				}
			}
			
		}		
	
	.message
		.message-body{
			background-color:#ffffff;
			color: rgb(0, 0, 0);
		}
	 
}


.affix {
	position: static;
}

.docs-sidebar {
	top: 30px;
	.nav {
		ul{
			width: 300px;
			display: none;
			padding-bottom: 40px;
		}
		>li {
			list-style: none;
			>a {
				color: rgb(218, 218, 218);
				border-left: 2px solid transparent;
				padding: 0 7px;
				font-size: 18px;
				font-weight: 400;
			}
			&:not(.active) {
				>a {
					&:hover {
						color: #ffffff;
						text-decoration: underline;
						background-color: transparent;
						border-left-width: 2px;
						border-left-color: #ffffff;
            			font-weight: 500;
					}
				}
			}
		}
		.nav {
			>li {
				>a {
					padding-left: 15px;
					font-size: 14px;
				}
			}
		}
		>.active {
			>a {
				color: #ffffff;
				text-decoration: underline;
				background-color: transparent;
				border-left-color: #ffffff;
				font-weight: 700;
			}
			&:hover {
				>a {
					font-weight: 700;
				}
			}
			&:focus {
				>a {
					font-weight: 700;
				}
			}
		}
	}
}
@media (min-width: 1023px){
	.affix {
		width: 300px;
		position: fixed;
		top: 10px;
		.docs-sidebar {
			margin-top: 0;
			margin-bottom: 0;
		}
	}
	.affix-bottom {
		width: 300px;
		position: absolute;
		.docs-sidebar {
			margin-top: 0;
			margin-bottom: 0;
		}
	}
	.docs-sidebar {
		.nav {
			ul {
				display: none;
				padding-bottom: 10px;
			}
			
			>.active {
				>ul {
					display: block;
				}
			}
			&:hover {
				>a {
					display: block;
				}}
		}
	}

}

@media (min-width: 1215px) {
	.affix {
		width: 300px;
	}
	.affix-bottom {
		width: 300px;
	}
}

//section links
  .links{
      color: rgb(0, 0, 0);
      &:hover {
        color: #ffffff;
        text-decoration: underline;
        background-color: transparent;
        font-weight: 1000;
      }
    }