<div class="section">
  <div [ngSwitch]="SelectedIndex">
    <div class="field has-addons" *ngSwitchCase="0">
      <div class="control">
        <div class="dropdown is-hoverable is-boxed">
          <div class="dropdown-trigger">
            <p class="control">
              <a class="button is-dark" aria-haspopup="true" aria-controls="dropdown-menu">
                <span>Search Filter</span>
                <span class="icon is-small">
                  <fa-icon [icon]="faChevronDown"></fa-icon>
                </span>
              </a>
            </p>
          </div>
          <div class="dropdown-menu" id="dropdown-menu" role="menu">
            <div class="dropdown-content" *ngFor="let SearchText of Search; index as i">
              <a class="dropdown-item" (click)="ShowSearch(i)">
                {{ SearchText }}
              </a>
            </div>
          </div>
        </div>
      </div>
      <input class="input is-white" type="text" [(ngModel)]="SearchRoom" placeholder="Search By Room">
      <div class="control">
        <a class="button is-dark" (click)="SearchByRoom()">Search</a>
      </div>
      <div class="control">
        <a href="/archive" class="button is-dark">Clear</a>
      </div>
    </div>

    <div class="field has-addons" *ngSwitchCase="1">
      <div class="control">
        <div class="dropdown is-hoverable is-boxed">
          <div class="dropdown-trigger">
            <p class="control">
              <a class="button is-dark" aria-haspopup="true" aria-controls="dropdown-menu">
                <span>Search Filter</span>
                <span class="icon">
                  <fa-icon [icon]="faChevronDown"></fa-icon>
                </span>
              </a>
            </p>
          </div>
          <div class="dropdown-menu" id="dropdown-menu" role="menu">
            <div class="dropdown-content" *ngFor="let SearchText of Search; index as i">
              <a class="dropdown-item" (click)="ShowSearch(i)">
                {{ SearchText }}
              </a>
            </div>
          </div>
        </div>
      </div>
      <input class="input is-white" type="text" [(ngModel)]="SearchLink" placeholder="Search By Link">
      <div class="control">
        <button class="button is-dark" (click)="SearchByLink()">Search</button>
      </div>
      <div class="control">
        <a href="/archive" class="button is-dark">Clear</a>
      </div>
    </div>

    <div class="field has-addons" *ngSwitchCase="2">
      <div class="control">
        <div class="dropdown is-hoverable is-boxed">
          <div class="dropdown-trigger">
            <p class="control">
              <a class="button is-dark" aria-haspopup="true" aria-controls="dropdown-menu">
                <span>Search Filter</span>
                <span class="icon">
                  <fa-icon [icon]="faChevronDown"></fa-icon>
                </span>
              </a>
            </p>
          </div>
          <div class="dropdown-menu" id="dropdown-menu" role="menu">
            <div class="dropdown-content" *ngFor="let SearchText of Search; index as i">
              <a class="dropdown-item" (click)="ShowSearch(i)">
                {{ SearchText }}
              </a>
            </div>
          </div>
        </div>
      </div>
      <input class="input is-white" type="text" [(ngModel)]="SearchTags" placeholder="Search By Tags">
      <div class="control">
        <button class="button is-dark" (click)="SearchByTags()">Search</button>
      </div>
      <div class="control">
        <a href="/archive" class="button is-dark">Clear</a>
      </div>
    </div>
  </div>


</div>


<!--                NEED TO WORK ON THIS ARCHIVE CARD TOO           -->
<div class="section has-background-primary-dark" *ngFor="let Archive of ArchiveList">
  <div class="container has-text-centered">
    <div class="box animate__animated animate__slideInRight">
      <p>Room : {{ Archive.Room }} </p>
      <p>Title : {{ Archive.Nick }}</p>
      <p>Link to stream : <a href="{{ Archive.StreamLink }}" target="_blank">{{ Archive.StreamLink }}</a></p>
      <p>Tags : {{ Archive.Tags }} <br></p>
      <div *ngIf="Archive.Pass">
        <p> <strong>Password Protected</strong></p>
      </div>
      <div class="divider is-black is-left"></div>
      <a class="button is-small is-outlined is-rounded is-light is-inverted" [href]="sanitize(Archive.Link)">
        Open in client
      </a>
    </div>
  </div>

</div>
<app-scroll-to-top></app-scroll-to-top>
