  
    #s1{
        max-width: 700px;
        margin: auto;
    }


.box{
    max-width: 600px;
    margin: auto;        
    border-radius: 15px;
    .field{
        max-width: 360px;
        margin:auto;                
        }
    #file_new{
      .field{
        max-width: 600px;
        margin: auto;
        }    
      }    
    
            
} 