<div class="field has-addons p-4">
  <div class="control">
    <div class="dropdown is-hoverable is-boxed">
      <div class="dropdown-trigger">
        <p class="control">
          <a class="button" aria-haspopup="true" aria-controls="dropdown-menu">
            <span>Search Filter</span>
            <span class="icon">
              <fa-icon [icon]="faChevronDown"></fa-icon>
            </span>
          </a>
        </p>
      </div>
      <div class="dropdown-menu" id="dropdown-menu" role="menu">
        <div class="dropdown-content" *ngFor="let SearchText of Search; index as i">
          <a class="dropdown-item" (click)="ShowSearch(i)">
            {{ SearchText }}
          </a>
        </div>
      </div>
    </div>
  </div>

  <div [ngSwitch]="SelectedIndex">
    <div class="field has-addons" *ngSwitchCase="0">
      <input class="input" type="text" [(ngModel)]="SearchRoom" placeholder="Search By Room">
      <div class="control">
        <a class="button is-dark" (click)="SearchByRoom()">Search</a>
      </div>
    </div>

    <div class="field has-addons" *ngSwitchCase="1">
      <input class="input" type="text" [(ngModel)]="SearchLink" placeholder="Search By Link">
      <p class="control">
        <button class="button is-dark" (click)="SearchByLink()">Search</button>
      </p>
    </div>

    <div class="field has-addons" *ngSwitchCase="2">
      <input class="input" type="text" [(ngModel)]="SearchTags" placeholder="Search By Tags">
      <p class="control">
        <button class="button is-dark" (click)="SearchByTags()">Search</button>
      </p>
    </div>
  </div>

</div>

<!--                NEED TO WORK ON THIS ARCHIVE CARD TOO           -->
<div class="section" style="width: 600px; margin: auto;" *ngFor="let Archive of ArchiveList">
  <div class="container has-text-centered">
    <div class="card">
      <p>Room : {{ Archive.Room }} <br>
        Title : {{ Archive.Nick }} <br>
        Link to stream : <a href="{{ Archive.StreamLink }}" target="_blank">{{ Archive.StreamLink }}</a> <br>
        Tags : {{ Archive.Tags }} <br>
        <button class="tag" (click)="JumpToClient(Archive.Link)"> Open In Client </button>
      </p>
      <div *ngIf="Archive.Pass">
        <p>Password Protected</p>
      </div>
    </div>
  </div>

</div>
