@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');

.TimeLabel{
    margin-left: 10px;
    margin-right: 10px;
    font-family: "Ubuntu";
    font-size: 26px;
    align-self: center;
}
