<section class="hero has-text-centered is-success">
  <div class="hero-body">
    <div class="section p-6">
      <h1 class="title is-unselectable">MCHAD</h1>
      <div class="block">
        <h2 class="heading is-unselectable animate__animated animate__flipInX">
          By <strong>Fans</strong>
        </h2>
        <h2 class="heading is-unselectable animate__animated animate__flipInX animate__delay-1s ml-4">
          From <strong>Fans</strong>
        </h2>
        <h2 class="heading is-unselectable animate__animated animate__flipInX animate__delay-2s ml-4">
          For <strong>Fans</strong>
        </h2>
      </div>

      <div class="level">
        <div class="level-item">
          <div class="dropdown is-hoverable is-boxed">
            <div class="dropdown-trigger">
              <a class="button" aria-haspopup="true" aria-controls="dropdown-menu">
                <span class="icon">
                  <fa-icon [icon]="faDownload"></fa-icon>
                </span>
                <span>Download Translator</span>
              </a>
            </div>
            <div class="dropdown-menu" id="dropdown-menu" role="menu">
              <div class="dropdown-content">
                <!-- insert windows x32 DL link -->
                <a href="https://drive.google.com/uc?id=13mHjSioJZomPcUKasXYH7EBW4y59kmeP&export=download"
                  class="dropdown-item">
                  Windows x32
                </a>
                <!-- insert windows x32 DL link -->
                <a href="https://drive.google.com/uc?id=1RJGNafRGEZUDmKBxPyvUa6I_-YION6Oo&export=download"
                  class="dropdown-item">
                  Windows x64
                </a>
                <!-- insert Linux DL link -->
                <a href="https://drive.google.com/uc?id=1K08HSwI5EXiGza0BcgnoPoZMTP-wR6FH&export=download"
                  class="dropdown-item">
                  Linux
                </a>
                <!-- insert MAC x32 DL link -->
                <a href="https://drive.google.com/uc?id=1ifPk_RZXTADPgrvTjYTRD-VsN-2CDv2u&export=download"
                  class="dropdown-item">
                  MAC
                </a>
                <hr class="dropdown-divider">
                <!-- Replace Version Info -->
                <p href="#" class="dropdown-item">
                  Version 0.9.4
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="level-item">
          <div class="dropdown is-right is-hoverable is-boxed">
            <div class="dropdown-trigger">
              <p class="control">
                <a class="button" aria-haspopup="true" aria-controls="dropdown-menu">
                  <span class="icon">
                    <fa-icon [icon]="faDownload"></fa-icon>
                  </span>
                  <span>Download Listener</span>
                </a>
              </p>
            </div>
            <div class="dropdown-menu" id="dropdown-menu" role="menu">
              <div class="dropdown-content">
                <!-- insert windows Listener DL link -->
                <a href="https://drive.google.com/uc?export=download&id=17E66mw7Gd7c1TnXYxB5zvsEYD_PyEl1B"
                  class="dropdown-item">
                  Windows
                </a>
                <!-- insert Linux listener DL link -->
                <a href="https://drive.google.com/uc?export=download&id=1kT_VNUVp6081f8YaF3aKXEvHtaw-YTVb"
                  class="dropdown-item">
                  Linux
                </a>
                <!-- insert MAC listener DL link -->
                <a href="https://drive.google.com/file/d/1W-P_45KH3MbZaNcrt5TXanGZYGMZ2sWc/view?usp=sharing"
                  class="dropdown-item">
                  MAC
                </a>
                <!-- insert Android DL link -->
                <a href="https://drive.google.com/uc?id=1HOuwlY5a1LigvFoIPg4wBujwJ5IiJPaz&export=download"
                  class="dropdown-item">
                  Android
                </a>
                <hr class="dropdown-divider">
                <!-- insert version info -->
                <p href="#" class="dropdown-item">
                  Version 0.9.4
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="level-item">
          <div class="dropdown is-right is-hoverable is-boxed">
            <div class="dropdown-trigger">
              <p class="control">
                <a class="button" aria-haspopup="true" aria-controls="dropdown-menu">
                  <span class="icon">
                    <fa-icon [icon]="faDownload"></fa-icon>
                  </span>
                  <span>MChad Extension</span>
                </a>
              </p>
            </div>
            <div class="dropdown-menu" id="dropdown-menu" role="menu">
              <div class="dropdown-content">
                <!-- insert chrome extension link -->
                <a href="https://dl.dropboxusercontent.com/s/my395179xqbktv0/msync.xpi?dl=0" class="dropdown-item">
                  Firefox
                </a>
                <!-- insert firefox extension link -->
                <a href="https://chrome.google.com/webstore/detail/msync/eblmoenfpiadgallcijbfckeagoiihfp"
                  class="dropdown-item">
                  Chrome
                </a>
                <hr class="dropdown-divider">
                <p href="#" class="dropdown-item">
                  Version 2.0.0
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="columns">
      <div class="column">
        <img src="/assets/img/HomePicture1.jpg" style="border: 10px solid black; border-radius: 10%;" alt="">
      </div>
      <div class="column">
        <img class="android" src="/assets/img/HomePicture2.jpg" style="border: 10px solid black; border-radius: 10%;" alt="">
      </div>

    </div>
  </div>
</section>
