.heading{
    display: inline-flex;
    font-size: 16px;
}
/* .hero{
    max-width: 100%;
    background: #585870;
    background: linear-gradient(to right, #585870,#705870);
} */

.android {
    
    max-height:612px;
    width: auto;
    height: auto;
  }