<section class="hero is-fullheight-with-navbar">
  <div class="hero-body has-background-primary-dark">
    <div class="container has-text-centered">
      <!-- -------------------- Website Title ---------------------- -->
      <div class="section">
        <h1 class="title is-unselectable has-text-white">MCHAD</h1>
        <p class="subtitle is-unselectable has-text-white">One-direction Live translation Client & App</p>
        <h2 class="is-unselectable animate__animated animate__flipInX has-text-white">
          By <span class="has-text-weight-bold">Fans</span>
        </h2>
        <h2 class="is-unselectable animate__animated animate__flipInX animate__delay-1s has-text-white">
          From <span class="has-text-weight-bold">Fans</span>
        </h2>
        <h2 class="is-unselectable animate__animated animate__flipInX animate__delay-2s has-text-white">
          For <span class="has-text-weight-bold">Fans</span>
        </h2>
      </div>
      <!-- -------------------- Website Title ---------------------- -->

      <!-- -------------------- Download Buttons ---------------------- -->
      <div class="section">
        <div class="buttons is-centered">

          <!-- -------------------- Download Translator Button---------------------- -->
          <div class="dropdown is-hoverable">
            <div class="dropdown-trigger">
              <a class="button is-white" aria-haspopup="true" aria-controls="dropdown-menu">
                <span class="icon">
                  <fa-icon [icon]="faDownload"></fa-icon>
                </span>
                <span>Download Translator</span>
              </a>
            </div>
            <div class="dropdown-menu" id="dropdown-menu" role="menu">
              <div class="dropdown-content">
                <!-- -------------------- Windows x32 ---------------------- -->
                <a href="https://drive.google.com/uc?id=13mHjSioJZomPcUKasXYH7EBW4y59kmeP&export=download"
                  class="dropdown-item">
                  Windows x32
                </a>
                <!-- -------------------- Windows x64 ---------------------- -->
                <a href="https://drive.google.com/uc?id=1RJGNafRGEZUDmKBxPyvUa6I_-YION6Oo&export=download"
                  class="dropdown-item">
                  Windows x64
                </a>
                <!-- -------------------- Linux ---------------------- -->
                <a href="https://drive.google.com/uc?id=1K08HSwI5EXiGza0BcgnoPoZMTP-wR6FH&export=download"
                  class="dropdown-item">
                  Linux
                </a>
                <!-- -------------------- Mac ---------------------- -->
                <a href="https://drive.google.com/uc?id=1ifPk_RZXTADPgrvTjYTRD-VsN-2CDv2u&export=download"
                  class="dropdown-item">
                  MAC
                </a>
                <hr class="dropdown-divider">
                <!-- -------------------- Version info ---------------------- -->
                <p href="#" class="dropdown-item">
                  Version 0.9.4
                </p>
              </div>
            </div>
          </div>
          <!-- -------------------- Download Trasnlator Button---------------------- -->


          <!-- -------------------- Download Listener Button---------------------- -->
          <div class="dropdown is-hoverable">
            <div class="dropdown-trigger">
              <p class="control">
                <a class="button is-white" aria-haspopup="true" aria-controls="dropdown-menu">
                  <span class="icon">
                    <fa-icon [icon]="faDownload"></fa-icon>
                  </span>
                  <span>Download Listener</span>
                </a>
              </p>
            </div>
            <div class="dropdown-menu" id="dropdown-menu" role="menu">
              <div class="dropdown-content">
                <!-- -------------------- Windows x32 ---------------------- -->
                <a href="https://drive.google.com/uc?export=download&id=1tFW96FSOzcXkx74ihesCEBTMVrTnuGT1"
                  class="dropdown-item">
                  Windows x32
                </a>
                <!-- -------------------- Windows x64 ---------------------- -->
                <a href="https://drive.google.com/uc?export=download&id=1Z890Qxwkg3l-epwBWMTGIPCthjzQwGlM"
                  class="dropdown-item">
                  Windows x64
                </a>
                <!-- -------------------- Linux ---------------------- -->
                <a href="https://drive.google.com/uc?export=download&id=1kT_VNUVp6081f8YaF3aKXEvHtaw-YTVb"
                  class="dropdown-item">
                  Linux
                </a>
                <!-- -------------------- Mac ---------------------- -->
                <a href="https://drive.google.com/file/d/1W-P_45KH3MbZaNcrt5TXanGZYGMZ2sWc/view?usp=sharing"
                  class="dropdown-item">
                  MAC
                </a>
                <!-- -------------------- Android ---------------------- -->
                <a href="https://drive.google.com/uc?id=1HOuwlY5a1LigvFoIPg4wBujwJ5IiJPaz&export=download"
                  class="dropdown-item">
                  Android
                </a>
                <hr class="dropdown-divider">
                <!-- -------------------- Version Info ---------------------- -->
                <p href="#" class="dropdown-item">
                  Version 0.9.6
                </p>
              </div>
            </div>
          </div>
          <!-- -------------------- Download Listener Button---------------------- -->


          <!-- -------------------- Extension Download Buttons ---------------------- -->
          <div class="dropdown is-hoverable">
            <div class="dropdown-trigger">
              <p class="control">
                <a class="button is-white" aria-haspopup="true" aria-controls="dropdown-menu">
                  <span class="icon">
                    <fa-icon [icon]="faDownload"></fa-icon>
                  </span>
                  <span>MSync (Web Extension)</span>
                </a>
              </p>
            </div>
            <div class="dropdown-menu" id="dropdown-menu" role="menu">
              <div class="dropdown-content">
                <a href="https://dl.dropboxusercontent.com/s/my395179xqbktv0/msync.xpi?dl=0" class="dropdown-item">
                  Firefox
                </a>
                <a href="https://chrome.google.com/webstore/detail/msync/eblmoenfpiadgallcijbfckeagoiihfp"
                  class="dropdown-item">
                  Chrome
                </a>
                <hr class="dropdown-divider">
                <p href="#" class="dropdown-item">
                  Version 3.1.8
                </p>
              </div>
            </div>
          </div>
          <!-- -------------------- Extension Download Buttons ---------------------- -->

          <a class="button is-white" href="https://discord.com/api/oauth2/authorize?client_id=826055534318583858&permissions=83968&scope=bot" target="_blank">
            <span class="icon">
              <fa-icon [icon]="faDiscord"></fa-icon>
            </span>
            <span>MChatx Discord Bot</span>
          </a>

        </div>
      </div>
      <!-- -------------------- Download Buttons ---------------------- -->



      <!-- -------------------- Asset Image Section ---------------------- -->
      <div class="section">
        <div class="columns">
          <div class="column">
            <img src="/assets/img/HomePicture3.png" alt="MSync Standalone">
          </div>
          <div class="column">
            <img src="/assets/img/HomePicture1.png" alt="Desktop Version">
          </div>
        </div>
        <div class="columns">
          <div class="column">
            <img src="/assets/img/HomePicture4.png" alt="MSync Standalone">
          </div>
          <div class="column">
            <img src="/assets/img/HomePicture2.png" alt="Android Version">
          </div>
        </div>
      </div>
      <!-- -------------------- Asset Image Section ---------------------- -->

    </div>
  </div>
</section>
