.heading{
    display: inline-flex;
    font-size: 16px;
}
.hero{
    background: #585870;
    background: linear-gradient(to right, #585870,#705870);
}

.android {
    
    max-height:612px;
    width: auto;
    height: auto;
  }